html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.image-element {
  width: 100%;
}

.components {
  min-width: 100vw;
  width: 100vw; /* Change this to your desired width */
  height: 100vh; /* Change this to your desired height */
  overflow: hidden; /* Hide any content that overflows the container */
  position: relative; 
}

.components img {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* Center the image contents */
}

.layer {
  display: flex;
  width:100vw;
  min-width: 1350px;
  padding: 0;
  margin: 0;
}

.no-border {
  border-collapse: collapse;
  border: none;
  /* Remove vertical spacing between rows */
  border-spacing: 0;
}

td {
  padding: 0;
  background-color: red;
  margin: 0;
}

/* Remove spacing between table cells */
td > img {
  display: block;
}

a > img {
  display: block;
}

.overlay {
  position: absolute; 
  top: 0px;
  left: 0px;
}

.hidden {
  visibility: hidden;
}

a > img.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

a:hover > img.overlay {
  opacity: 1;
}

/* Add a new class to control fading out */
a.fade-out > img.overlay {
  opacity: 0;
}

table {
  width: 100vw;
}